/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .modal-button {
    margin-left: 2rem;
  }
  
  .add-new-staff {
    margin-top: 1rem!important;
    margin-right: 1rem!important;
  }

  .update-staff {
    margin-left: 3rem!important;
    margin-right: 2rem!important;
  }
  
  /* Custom page header */
  .header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
  }
  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
  }

.highlight { background-color: #e5e5e5; }
  
  /* Custom page footer */
  .footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
  }
  
  .btn-outline-success {
    color: #121A26;
    background-image: none;
    background-color: transparent;
    border-color: #121A26;
  }
  .btn-outline-success:active, .btn-outline-success:hover {
    color: #fff;
    background-color: #121A26;
    border-color: #121A26;
  }
  .btn-outline-success:disabled {
    color: #6B798E;
  }
  .btn-outline-success:focus {
    box-shadow: 0 0 0 2px rgba(18,26,38,.5);
  }
  
  
  
  /* Customize container */
  @media (min-width: 48em) {
    .container {
    width: 60%;
    }
  }
  .container-narrow > hr {
    margin: 2rem 0;
  }
  
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    /* Space out the masthead */
    .header {
      margin-bottom: 2rem;
    }
  }
  